<!--The content below is only a placeholder and can be replaced.-->

<h2 class="title is-2">Admin</h2>
<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้การขายหนังสือของระบบ</h3>
    <chart [type]="typeChartAdmin1" [data]="dataChartAdmin1" [options]="optionsChartAdmin1"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายจ่ายแบ่งตามสำนักพิมพ์ </h3>
    <chart [type]="typeChartAdmin2" [data]="dataChartAdmin2" [options]="optionsChartAdmin2"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายจ่ายแบ่งตามสำนักพิมพ์ </h3>
    <chart [type]="typeChartAdmin3" [data]="dataChartAdmin3" [options]="optionsChartAdmin3"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">ตารางรายได้จากการขายหนังสือ</h3>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">วันที่</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">ชื่อหนังสือ</abbr></th>
            <th><abbr title="Won">สำนักพิมพ์</abbr></th>
            <th><abbr title="Drawn">จำนวน (เล่ม)</abbr></th>
            <th><abbr title="Lost">ราคาขาย (ต่อเล่ม)</abbr></th>
            <th><abbr title="Goals for">% ส่วนแบ่ง</abbr></th>
            <th><abbr title="Goals against">กำไรรวม (บาท)</abbr></th>
            <th><abbr title="Goal difference">จ่ายสำนักพิมพ์รวม (บาท)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1 Jan</th>
            <td>/_</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
          </tr>

        </tbody>
      </table>
</div>
<hr>
<div class="container">
    <h3 class="subtitle is-3">ตารางรายได้จากการเติมเงิน</h3>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">วันที่</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">ชื่อหนังสือ</abbr></th>
            <th><abbr title="Won">สำนักพิมพ์</abbr></th>
            <th><abbr title="Drawn">จำนวน (เล่ม)</abbr></th>
            <th><abbr title="Lost">ราคาขาย (ต่อเล่ม)</abbr></th>
            <th><abbr title="Goals for">% ส่วนแบ่ง</abbr></th>
            <th><abbr title="Goals against">กำไรรวม (บาท)</abbr></th>
            <th><abbr title="Goal difference">จ่ายสำนักพิมพ์รวม (บาท)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1 Jan</th>
            <td>/_</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
          </tr>

        </tbody>
      </table>
</div>
<hr>
<div class="container">
    <h3 class="subtitle is-3">ตารางรายจ่ายให้สำนักพิมพ์</h3>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">วันที่</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">ชื่อหนังสือ</abbr></th>
            <th><abbr title="Won">สำนักพิมพ์</abbr></th>
            <th><abbr title="Drawn">จำนวน (เล่ม)</abbr></th>
            <th><abbr title="Lost">ราคาขาย (ต่อเล่ม)</abbr></th>
            <th><abbr title="Goals for">% ส่วนแบ่ง</abbr></th>
            <th><abbr title="Goals against">กำไรรวม (บาท)</abbr></th>
            <th><abbr title="Goal difference">จ่ายสำนักพิมพ์รวม (บาท)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1 Jan</th>
            <td>/_</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
          </tr>

        </tbody>
      </table>
</div>

<!-- Publisher -->
<h2 class="title is-2">Publisher</h2>
<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้การขายหนังสือรวม</h3>
    <chart [type]="typeChartAdmin1" [data]="dataChartAdmin1" [options]="optionsChartAdmin1"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้การขายหนังสือตามประเภทหนังสือ </h3>
    <chart [type]="typeChartAdmin2" [data]="dataChartAdmin2" [options]="optionsChartAdmin2"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้ขายหนังสือตามชื่อหนังสือ</h3>
    <chart [type]="typeChartAdmin3" [data]="dataChartAdmin3" [options]="optionsChartAdmin3"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">ตารางรายได้จากการขายหนังสือ</h3>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">วันที่</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">ชื่อหนังสือ</abbr></th>
            <th><abbr title="Won">สำนักพิมพ์</abbr></th>
            <th><abbr title="Drawn">จำนวน (เล่ม)</abbr></th>
            <th><abbr title="Lost">ราคาขาย (ต่อเล่ม)</abbr></th>
            <th><abbr title="Goals for">% ส่วนแบ่ง</abbr></th>
            <th><abbr title="Goals against">กำไรรวม (บาท)</abbr></th>
            <th><abbr title="Goal difference">จ่ายสำนักพิมพ์รวม (บาท)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1 Jan</th>
            <td>/_</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
          </tr>

        </tbody>
      </table>
</div>
<hr>

<!-- Library -->
<h2 class="title is-2">Library</h2>
<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้รวม / รายจ่ายรวม</h3>
    <chart [type]="typeChartAdmin1" [data]="dataChartAdmin1" [options]="optionsChartAdmin1"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้จากการให้ยืมหนังสือ (ตามประเภท) </h3>
    <chart [type]="typeChartAdmin2" [data]="dataChartAdmin2" [options]="optionsChartAdmin2"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายได้จากการให้ยืมหนังสือ (ตามชื่อหนังสือ)</h3>
    <chart [type]="typeChartAdmin3" [data]="dataChartAdmin3" [options]="optionsChartAdmin3"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายจ่ายจากการซื้อหนังสือ (ตามประเภทหนังสือ) </h3>
    <chart [type]="typeChartAdmin2" [data]="dataChartAdmin2" [options]="optionsChartAdmin2"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">กราฟแสดงรายจ่ายจากการซื้อหนังสือ (ตามชื่อหนังสือ) </h3>
    <chart [type]="typeChartAdmin2" [data]="dataChartAdmin2" [options]="optionsChartAdmin2"></chart>
</div>
<hr>

<div class="container">
    <h3 class="subtitle is-3">ตารางรายได้จากการให้ยืมหนังสือ</h3>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">วันที่</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">ชื่อหนังสือ</abbr></th>
            <th><abbr title="Won">สำนักพิมพ์</abbr></th>
            <th><abbr title="Drawn">จำนวน (เล่ม)</abbr></th>
            <th><abbr title="Lost">ราคาขาย (ต่อเล่ม)</abbr></th>
            <th><abbr title="Goals for">% ส่วนแบ่ง</abbr></th>
            <th><abbr title="Goals against">กำไรรวม (บาท)</abbr></th>
            <th><abbr title="Goal difference">จ่ายสำนักพิมพ์รวม (บาท)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1 Jan</th>
            <td>/_</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
          </tr>

        </tbody>
      </table>
</div>
<hr>
<div class="container">
    <h3 class="subtitle is-3">ตารางรายจ่ายจากการซื้อหนังสือ</h3>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">วันที่</abbr></th>
            <th>Team</th>
            <th><abbr title="Played">ชื่อหนังสือ</abbr></th>
            <th><abbr title="Won">สำนักพิมพ์</abbr></th>
            <th><abbr title="Drawn">จำนวน (เล่ม)</abbr></th>
            <th><abbr title="Lost">ราคาขาย (ต่อเล่ม)</abbr></th>
            <th><abbr title="Goals for">% ส่วนแบ่ง</abbr></th>
            <th><abbr title="Goals against">กำไรรวม (บาท)</abbr></th>
            <th><abbr title="Goal difference">จ่ายสำนักพิมพ์รวม (บาท)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1 Jan</th>
            <td>/_</td>
            <td>38</td>
            <td>23</td>
            <td>12</td>
            <td>3</td>
            <td>68</td>
            <td>36</td>
            <td>+32</td>
          </tr>

        </tbody>
      </table>
</div>
<hr>
